.artwork_page{
    display: flex;
    flex-direction: row;
    padding-top: 10rem;
    width: 1300px;
    margin: auto;
    gap: 2rem;
}

.artwork_details{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    max-width: 28vw;
}

.artwork_image_container{
    max-width: 90%;
}
.back_link{
    margin-top: 5rem;
    align-self: flex-end;
}

@media (max-width: 1300px) {
    .artwork_page{
        flex-direction: column-reverse;
        max-width: 90%;
        gap: 3rem;
        margin-bottom: 5rem;
    }
    .artwork_details{
        max-width: 100%;
    }
}