@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: flex;
  flex-direction: column;
  margin-top: 10vh;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  gap: 64px;
  font-family: "Roboto";
}
.page_container{
  width: 95%;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap:3rem;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
  font-family: "Roboto";
  width: 100%;
}

/* FONTS AND TEXTS */

.title{
  font-size: 3rem;
  font-weight: 300;
}
.subtitle{
  font-size: 1.5rem;
  font-weight: 400;
}
.hero{
  width: 100%;
  margin: auto;
}
.hero_image{
  height: 800px;
  width: auto;
  max-width: 100%;
}

.video{
  width: 50%;
  height: auto;
}

/* ARTIST PAGE */

.name_list{
  width: 25vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.name_list:hover {
  color: rgba(0, 0, 0, 0.442);
  transition: color 0.3s ease-in-out;
}

.name_list ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.25rem;
}
.artist_page_NameCard{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  z-index: 10;
  background: var(--background);
  Width: 26vw;
  height: 100vh;
  margin-left: -5rem;
  padding-left: 5rem;
  padding-top: 10rem;
  margin-top: -10rem;
  padding-bottom: 80%;
}
.artist_page{
  display: flex;
  flex-direction: row;
  justify-content: normal;
  margin-top: 2rem;
  gap: 3rem;
  width: 800px;
  margin: auto;
  padding-top: 7rem;
}
.artists_page{
  display: flex;
  flex-direction: row;
  justify-content: normal;
  margin-top: 2rem;
  gap: 3rem;
  width: 800px;
  margin: auto;
  padding-top: 10rem;
}
.artist_page_contents{
  display: flex;
  flex-direction: column;
  gap: 3rem;
  max-width:   86%;
}
.artist_page_contents_bio{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.artist_page_contents_obras{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.artist_page_image_container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  width: auto;
  height: 30vw; 
  background-color: white;
  overflow: hidden; 
  margin: auto;
}

.artist_page_image_container img {
  height: 100%; 
  width: auto; 
  object-fit: cover; 
  padding: 1rem;
  margin: auto;
}

/*EXHIBIITON*/

.exhibition_page{
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
.exhibitions_page{
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 80vw;
  margin: auto;
}

.sedes{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin: auto;
  height: auto;
  font-size: 4rem;
  font-weight: 200;
  margin-top: 4rem;
}

/* EXCHIBITION PAGE */

.sedeCard{
  height: 10vh;
  /* width: 30rem; */
  margin: auto;
  text-align: left;
  align-content: center;
  /* border: 1px solid black;
  background: lightgray; */
  position: relative;
  display: inline-block;
  font-size: 2rem; 
}
.sedeCard img{
  display: block;
  max-width: 100%;
  height: auto;
}

.sedeCard img:hover{
}

.overlayText {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  background-color: var(--background); 
  color: black; 
  padding: 10px 20px;
  text-align: center;
}
.sedeCard:hover {
  transition: .3s ease-in-out;
}

/* UPLOADER PAGE */

.profilePictureContainer {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 1rem;
}
.profilePreviewImage {
  width: 15VW;
  height: 15VW;
  object-fit: cover;
  border-radius: 50%;
  background-color: BLACK;
}
.obraContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}
.obraPreviewImage {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}
.artworkPreviewImage{
  width: 100%;
}

.artwork_details{
  padding-left: 0;
}
/* FORM */

.form{
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  font-size: 1rem;
  max-width: 1000px;
  border: 1px solid;
  padding: 1.5rem;
  margin: auto;
}
.form input{
  font-size: 1rem;
  padding: 0.5rem;
  width: 100%;
}
.form textarea{
  font-size: 1rem;
  padding: 0.5rem;
  height: 30vh;
  width: 100%;
}

/* Artist List */

.artist_list{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.artist_list ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.artist_list li{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 1000px;
  padding: 1rem;
  border: 1px solid;
}
.artist_list_information{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.artists_image{
  margin: auto;
  max-width: 50%;
}


@media (max-width: 1600px) {
  .artist_page_NameCard{
    position: relative;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: auto;
    width: 100%;
    margin-top: 0rem;
    padding-top: 6rem;
    padding-bottom: 0px;
  }

}

@media (max-width: 1300px) {

  .page{
    margin-top: 0px;
  }
  .name_list{ 
    width: 100%;
  }
  .name_list ul{
    gap: 1rem;
    width: 100%;
  }

  .main {
    align-items: center;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .artist_page_image_container{
    height: 55vw;
  }
  .artist_page{
    width: 100%;
    flex-direction: column;
    padding: 1rem;
  }
  .artist_page_contents{
    max-width: 100%;
    margin: auto;
  }
  .artist_page_nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: baseline;
  }
  
  
}

@media (max-width: 800px) {
  .artist_page_image_container{
    height: 105vw;
  }
  .artists_page{
    width: 100%;
    flex-direction: column;
    padding: 1rem;
    margin-top: 6rem;
  }
  .artwork_details{
    padding-left: 2rem;
  }
  .exhibition_page{
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  .video{
    width: 100%;
    height: auto;
  }
  
}

